In [16]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np
from plottable import ColumnDefinition, Table
from plottable.cmap import normed_cmap
from plottable.plots import image, circled_image
from plottable.formatters import decimal_to_percent
import os
from dotenv import load_dotenv
load_dotenv()
current_directory = os.environ["current_directory"]

In [29]:
teams = pd.read_csv("data/teams.csv")

In [31]:
teams

    id name  tackles_above_expected
0   20   FB                0.000000
1   13  DAL               10.249461
2   27  MIN               -0.914045
3    8  PIT                4.778918
4   26   GB               -2.966716
5   31  SEA                0.934411
6    6  CHI               -6.714545
7   15  TEN                7.437108
8   29  JAX              -11.662464
9    9  CLE               -6.773289
10  33  MIA                4.851137
11  28  CIN               -2.434576
12  17  ARI               -9.176454
13   5  IND               -1.479019
14  16  BUF                2.772467
15  11  BAL               -2.684915
16   4  HOU                5.597907
17  24   SF                2.753092
18   3  NYJ               -3.196185
19  19   NE                3.705155
20  25   NO               -4.461322
21  32  PHI              -10.046191
22  12   KC               11.284242
23  23   LA                3.935318
24  18  WAS                2.175640
25   7  LAC               -6.922744
26  10  ATL                7.974998
27  22  NYG                6.655116
28  14   LV                3.782294
29  21   TB                3.987752
30  34  DET               -3.639738
31  30  CAR              -15.207276
32   2  DEN                1.056055

In [33]:
teams_TAA = teams[teams['name'] != 'FB']

In [34]:
teams_TAA

    id name  tackles_above_expected
1   13  DAL               10.249461
2   27  MIN               -0.914045
3    8  PIT                4.778918
4   26   GB               -2.966716
5   31  SEA                0.934411
6    6  CHI               -6.714545
7   15  TEN                7.437108
8   29  JAX              -11.662464
9    9  CLE               -6.773289
10  33  MIA                4.851137
11  28  CIN               -2.434576
12  17  ARI               -9.176454
13   5  IND               -1.479019
14  16  BUF                2.772467
15  11  BAL               -2.684915
16   4  HOU                5.597907
17  24   SF                2.753092
18   3  NYJ               -3.196185
19  19   NE                3.705155
20  25   NO               -4.461322
21  32  PHI              -10.046191
22  12   KC               11.284242
23  23   LA                3.935318
24  18  WAS                2.175640
25   7  LAC               -6.922744
26  10  ATL                7.974998
27  22  NYG                6.655116
28  14   LV                3.782294
29  21   TB                3.987752
30  34  DET               -3.639738
31  30  CAR              -15.207276
32   2  DEN                1.056055

In [35]:
teams_TAA['logo'] = teams_TAA['name'].apply(
        lambda x: 
    f"{current_directory}/team_logos/{x}_logo.png"
    )

C:\Users\winch\AppData\Local\Temp\ipykernel_30504\2256403347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams_TAA['logo'] = teams_TAA['name'].apply(

In [36]:
teams_TAA

,id,name,tackles_above_expected,logo
1,13,DAL,10.249461,/Users/winch/Data Science & Machine Learning P...
2,27,MIN,-0.914045,/Users/winch/Data Science & Machine Learning P...
3,8,PIT,4.778918,/Users/winch/Data Science & Machine Learning P...
4,26,GB,-2.966716,/Users/winch/Data Science & Machine Learning P...
5,31,SEA,0.934411,/Users/winch/Data Science & Machine Learning P...
6,6,CHI,-6.714545,/Users/winch/Data Science & Machine Learning P...
7,15,TEN,7.437108,/Users/winch/Data Science & Machine Learning P...
8,29,JAX,-11.662464,/Users/winch/Data Science & Machine Learning P...
9,9,CLE,-6.773289,/Users/winch/Data Science & Machine Learning P...
10,33,MIA,4.851137,/Users/winch/Data Science & Machine Learning P...
11,28,CIN,-2.434576,/Users/winch/Data Science & Machine Learning P...
12,17,ARI,-9.176454,/Users/winch/Data Science & Machine Learning P...
13,5,IND,-1.479019,/Users/winch/Data Science & Machine Learning P...
14,16,BUF,2.772467,/Users/winch/Data Science & Machine Learning P...
15,11,BAL,-2.684915,/Users/winch/Data Science & Machine Learning P...
16,4,HOU,5.597907,/Users/winch/Data Science & Machine Learning P...
17,24,SF,2.753092,/Users/winch/Data Science & Machine Learning P...
18,3,NYJ,-3.196185,/Users/winch/Data Science & Machine Learning P...
19,19,NE,3.705155,/Users/winch/Data Science & Machine Learning P...
20,25,NO,-4.461322,/Users/winch/Data Science & Machine Learning P...
21,32,PHI,-10.046191,/Users/winch/Data Science & Machine Learning P...
22,12,KC,11.284242,/Users/winch/Data Science & Machine Learning P...
23,23,LA,3.935318,/Users/winch/Data Science & Machine Learning P...
24,18,WAS,2.175640,/Users/winch/Data Science & Machine Learning P...
25,7,LAC,-6.922744,/Users/winch/Data Science & Machine Learning P...
26,10,ATL,7.974998,/Users/winch/Data Science & Machine Learning P...
27,22,NYG,6.655116,/Users/winch/Data Science & Machine Learning P...
28,14,LV,3.782294,/Users/winch/Data Science & Machine Learning P...
29,21,TB,3.987752,/Users/winch/Data Science & Machine Learning P...
30,34,DET,-3.639738,/Users/winch/Data Science & Machine Learning P...
31,30,CAR,-15.207276,/Users/winch/Data Science & Machine Learning P...
32,2,DEN,1.056055,/Users/winch/Data Science & Machine Learning P...

In [37]:
team_abbr_mapping = {
    'ARI': 'Arizona Cardinals',
    'ATL': 'Atlanta Falcons',
    'BAL': 'Baltimore Ravens',
    'BUF': 'Buffalo Bills',
    'CAR': 'Carolina Panthers',
    'CHI': 'Chicago Bears',
    'CIN': 'Cincinnati Bengals',
    'CLE': 'Cleveland Browns',
    'DAL': 'Dallas Cowboys',
    'DEN': 'Denver Broncos',
    'DET': 'Detroit Lions',
    'GB': 'Green Bay Packers',
    'HOU': 'Houston Texans',
    'IND': 'Indianapolis Colts',
    'JAX': 'Jacksonville Jaguars',
    'KC': 'Kansas City Chiefs',
    'LV': 'Las Vegas Raiders',
    'LAC': 'Los Angeles Chargers',
    'LAR': 'Los Angeles Rams',
    'MIA': 'Miami Dolphins',
    'MIN': 'Minnesota Vikings',
    'NE': 'New England Patriots',
    'NO': 'New Orleans Saints',
    'NYG': 'New York Giants',
    'NYJ': 'New York Jets',
    'PHI': 'Philadelphia Eagles',
    'PIT': 'Pittsburgh Steelers',
    'SEA': 'Seattle Seahawks',
    'SF': 'San Francisco 49ers',
    'TB': 'Tampa Bay Buccaneers',
    'TEN': 'Tennessee Titans',
    'WAS': 'Washington Commanders'
}

In [38]:
teams_TAA['full_team_name'] = teams_TAA['name'].map(team_abbr_mapping)

C:\Users\winch\AppData\Local\Temp\ipykernel_30504\3280587786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams_TAA['full_team_name'] = teams_TAA['name'].map(team_abbr_mapping)

In [39]:
teams_TAA

,id,name,tackles_above_expected,logo,full_team_name
1,13,DAL,10.249461,/Users/winch/Data Science & Machine Learning P...,Dallas Cowboys
2,27,MIN,-0.914045,/Users/winch/Data Science & Machine Learning P...,Minnesota Vikings
3,8,PIT,4.778918,/Users/winch/Data Science & Machine Learning P...,Pittsburgh Steelers
4,26,GB,-2.966716,/Users/winch/Data Science & Machine Learning P...,Green Bay Packers
5,31,SEA,0.934411,/Users/winch/Data Science & Machine Learning P...,Seattle Seahawks
6,6,CHI,-6.714545,/Users/winch/Data Science & Machine Learning P...,Chicago Bears
7,15,TEN,7.437108,/Users/winch/Data Science & Machine Learning P...,Tennessee Titans
8,29,JAX,-11.662464,/Users/winch/Data Science & Machine Learning P...,Jacksonville Jaguars
9,9,CLE,-6.773289,/Users/winch/Data Science & Machine Learning P...,Cleveland Browns
10,33,MIA,4.851137,/Users/winch/Data Science & Machine Learning P...,Miami Dolphins
11,28,CIN,-2.434576,/Users/winch/Data Science & Machine Learning P...,Cincinnati Bengals
12,17,ARI,-9.176454,/Users/winch/Data Science & Machine Learning P...,Arizona Cardinals
13,5,IND,-1.479019,/Users/winch/Data Science & Machine Learning P...,Indianapolis Colts
14,16,BUF,2.772467,/Users/winch/Data Science & Machine Learning P...,Buffalo Bills
15,11,BAL,-2.684915,/Users/winch/Data Science & Machine Learning P...,Baltimore Ravens
16,4,HOU,5.597907,/Users/winch/Data Science & Machine Learning P...,Houston Texans
17,24,SF,2.753092,/Users/winch/Data Science & Machine Learning P...,San Francisco 49ers
18,3,NYJ,-3.196185,/Users/winch/Data Science & Machine Learning P...,New York Jets
19,19,NE,3.705155,/Users/winch/Data Science & Machine Learning P...,New England Patriots
20,25,NO,-4.461322,/Users/winch/Data Science & Machine Learning P...,New Orleans Saints
21,32,PHI,-10.046191,/Users/winch/Data Science & Machine Learning P...,Philadelphia Eagles
22,12,KC,11.284242,/Users/winch/Data Science & Machine Learning P...,Kansas City Chiefs
23,23,LA,3.935318,/Users/winch/Data Science & Machine Learning P...,NaN
24,18,WAS,2.175640,/Users/winch/Data Science & Machine Learning P...,Washington Commanders
25,7,LAC,-6.922744,/Users/winch/Data Science & Machine Learning P...,Los Angeles Chargers
26,10,ATL,7.974998,/Users/winch/Data Science & Machine Learning P...,Atlanta Falcons
27,22,NYG,6.655116,/Users/winch/Data Science & Machine Learning P...,New York Giants
28,14,LV,3.782294,/Users/winch/Data Science & Machine Learning P...,Las Vegas Raiders
29,21,TB,3.987752,/Users/winch/Data Science & Machine Learning P...,Tampa Bay Buccaneers
30,34,DET,-3.639738,/Users/winch/Data Science & Machine Learning P...,Detroit Lions
31,30,CAR,-15.207276,/Users/winch/Data Science & Machine Learning P...,Carolina Panthers
32,2,DEN,1.056055,/Users/winch/Data Science & Machine Learning P...,Denver Broncos

In [41]:
teams_TAA.rename(columns = {'tackles_above_expected': 'tackles_above_average'}, inplace = True)

C:\Users\winch\AppData\Local\Temp\ipykernel_30504\3587369781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams_TAA.rename(columns = {'tackles_above_expected': 'tackles_above_average'}, inplace = True)

In [45]:
teams_TAA = teams_TAA.sort_values(by = 'tackles_above_average', ascending = False)

In [48]:
teams_TAA = teams_TAA.drop('id', axis = 1)

In [49]:
teams_TAA = teams_TAA.reset_index(drop = True)

In [51]:
teams_TAA.index += 1

In [52]:
teams_TAA

,name,tackles_above_average,logo,full_team_name
1,KC,11.284242,/Users/winch/Data Science & Machine Learning P...,Kansas City Chiefs
2,DAL,10.249461,/Users/winch/Data Science & Machine Learning P...,Dallas Cowboys
3,ATL,7.974998,/Users/winch/Data Science & Machine Learning P...,Atlanta Falcons
4,TEN,7.437108,/Users/winch/Data Science & Machine Learning P...,Tennessee Titans
5,NYG,6.655116,/Users/winch/Data Science & Machine Learning P...,New York Giants
6,HOU,5.597907,/Users/winch/Data Science & Machine Learning P...,Houston Texans
7,MIA,4.851137,/Users/winch/Data Science & Machine Learning P...,Miami Dolphins
8,PIT,4.778918,/Users/winch/Data Science & Machine Learning P...,Pittsburgh Steelers
9,TB,3.987752,/Users/winch/Data Science & Machine Learning P...,Tampa Bay Buccaneers
10,LA,3.935318,/Users/winch/Data Science & Machine Learning P...,NaN
11,LV,3.782294,/Users/winch/Data Science & Machine Learning P...,Las Vegas Raiders
12,NE,3.705155,/Users/winch/Data Science & Machine Learning P...,New England Patriots
13,BUF,2.772467,/Users/winch/Data Science & Machine Learning P...,Buffalo Bills
14,SF,2.753092,/Users/winch/Data Science & Machine Learning P...,San Francisco 49ers
15,WAS,2.175640,/Users/winch/Data Science & Machine Learning P...,Washington Commanders
16,DEN,1.056055,/Users/winch/Data Science & Machine Learning P...,Denver Broncos
17,SEA,0.934411,/Users/winch/Data Science & Machine Learning P...,Seattle Seahawks
18,MIN,-0.914045,/Users/winch/Data Science & Machine Learning P...,Minnesota Vikings
19,IND,-1.479019,/Users/winch/Data Science & Machine Learning P...,Indianapolis Colts
20,CIN,-2.434576,/Users/winch/Data Science & Machine Learning P...,Cincinnati Bengals
21,BAL,-2.684915,/Users/winch/Data Science & Machine Learning P...,Baltimore Ravens
22,GB,-2.966716,/Users/winch/Data Science & Machine Learning P...,Green Bay Packers
23,NYJ,-3.196185,/Users/winch/Data Science & Machine Learning P...,New York Jets
24,DET,-3.639738,/Users/winch/Data Science & Machine Learning P...,Detroit Lions
25,NO,-4.461322,/Users/winch/Data Science & Machine Learning P...,New Orleans Saints
26,CHI,-6.714545,/Users/winch/Data Science & Machine Learning P...,Chicago Bears
27,CLE,-6.773289,/Users/winch/Data Science & Machine Learning P...,Cleveland Browns
28,LAC,-6.922744,/Users/winch/Data Science & Machine Learning P...,Los Angeles Chargers
29,ARI,-9.176454,/Users/winch/Data Science & Machine Learning P...,Arizona Cardinals
30,PHI,-10.046191,/Users/winch/Data Science & Machine Learning P...,Philadelphia Eagles
31,JAX,-11.662464,/Users/winch/Data Science & Machine Learning P...,Jacksonville Jaguars
32,CAR,-15.207276,/Users/winch/Data Science & Machine Learning P...,Carolina Panthers

In [53]:
teams_TAA['Rank'] = teams_TAA.index

In [54]:
teams_TAA.columns

Index(['name', 'tackles_above_average', 'logo', 'full_team_name', 'Rank'], dtype='object')

In [55]:
teams_TAA = teams_TAA[['Rank', 'logo', 'full_team_name', 'tackles_above_average']]

In [56]:
col_defs = [
    ColumnDefinition(
        name = "Rank",
        textprops = {"ha": "center", "weight":"bold"},
        width = 0.4
    ),
    ColumnDefinition(
        name = "logo",
        title = "Team",
        textprops = {"ha": "center", "va":"center", "color": text_color},
        width = 0.5,
        plot_fn = image
    ),
    ColumnDefinition(
        name = "full_team_name",
        textprops = {"ha": "center", "va":"center", "color": bg_color},
        width = 0.5,
    ),
    ColumnDefinition(
        name = "Player",
        title = "Player",
        textprops = {"ha": "left", "weight":"bold"},
        width = 1.15,
    )
]

,Rank,logo,full_team_name,tackles_above_average
1,1,/Users/winch/Data Science & Machine Learning P...,Kansas City Chiefs,11.284242
2,2,/Users/winch/Data Science & Machine Learning P...,Dallas Cowboys,10.249461
3,3,/Users/winch/Data Science & Machine Learning P...,Atlanta Falcons,7.974998
4,4,/Users/winch/Data Science & Machine Learning P...,Tennessee Titans,7.437108
5,5,/Users/winch/Data Science & Machine Learning P...,New York Giants,6.655116
6,6,/Users/winch/Data Science & Machine Learning P...,Houston Texans,5.597907
7,7,/Users/winch/Data Science & Machine Learning P...,Miami Dolphins,4.851137
8,8,/Users/winch/Data Science & Machine Learning P...,Pittsburgh Steelers,4.778918
9,9,/Users/winch/Data Science & Machine Learning P...,Tampa Bay Buccaneers,3.987752
10,10,/Users/winch/Data Science & Machine Learning P...,NaN,3.935318
11,11,/Users/winch/Data Science & Machine Learning P...,Las Vegas Raiders,3.782294
12,12,/Users/winch/Data Science & Machine Learning P...,New England Patriots,3.705155
13,13,/Users/winch/Data Science & Machine Learning P...,Buffalo Bills,2.772467
14,14,/Users/winch/Data Science & Machine Learning P...,San Francisco 49ers,2.753092
15,15,/Users/winch/Data Science & Machine Learning P...,Washington Commanders,2.175640
16,16,/Users/winch/Data Science & Machine Learning P...,Denver Broncos,1.056055
17,17,/Users/winch/Data Science & Machine Learning P...,Seattle Seahawks,0.934411
18,18,/Users/winch/Data Science & Machine Learning P...,Minnesota Vikings,-0.914045
19,19,/Users/winch/Data Science & Machine Learning P...,Indianapolis Colts,-1.479019
20,20,/Users/winch/Data Science & Machine Learning P...,Cincinnati Bengals,-2.434576
21,21,/Users/winch/Data Science & Machine Learning P...,Baltimore Ravens,-2.684915
22,22,/Users/winch/Data Science & Machine Learning P...,Green Bay Packers,-2.966716
23,23,/Users/winch/Data Science & Machine Learning P...,New York Jets,-3.196185
24,24,/Users/winch/Data Science & Machine Learning P...,Detroit Lions,-3.639738
25,25,/Users/winch/Data Science & Machine Learning P...,New Orleans Saints,-4.461322
26,26,/Users/winch/Data Science & Machine Learning P...,Chicago Bears,-6.714545
27,27,/Users/winch/Data Science & Machine Learning P...,Cleveland Browns,-6.773289
28,28,/Users/winch/Data Science & Machine Learning P...,Los Angeles Chargers,-6.922744
29,29,/Users/winch/Data Science & Machine Learning P...,Arizona Cardinals,-9.176454
30,30,/Users/winch/Data Science & Machine Learning P...,Philadelphia Eagles,-10.046191
31,31,/Users/winch/Data Science & Machine Learning P...,Jacksonville Jaguars,-11.662464
32,32,/Users/winch/Data Science & Machine Learning P...,Carolina Panthers,-15.207276